---
import { products } from "../data/products.json";
---

<div class="container">
    <div class="grid grid-cols-3 gap-6 py-10">
        {
            products.map(product => (
               
                <div class="product">
                    <img src={product.thumbnail} alt="">
                    <h3 class="product-name">{product.title}</h3>
                    <p class="product-description">{product.description}</p>
                    <div class="prices">
                        <p class="product-price">$ <del>{product.discountPercentage}</del></p>
                        <p class="product-price">$ {product.price}</p>
                    </div>
                </div>
                
                                
            ))
        }
    </div>
</div>

